@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background: url('images/background.jpg')no-repeat center center fixed;
    background-size: cover;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.card{
    width: 450px;
    box-shadow: #eee 4px 6px 6px 3px;
    border-radius: 18px;
    border: 2px solid rgb(255, 254, 254);
    overflow: hidden;
    background-color: #f8f0fced /* Semi-transparent white background */
}

.card-top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.card-top img{
    width: 45%;
}


h1{
    text-align: center;
    font-size: 4rem;
    color: #333; /* Dark gray color for the text */
}

.card-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.card-bottom img{
    cursor: pointer;
    width: 25%;
    rotate: -90deg;
    transform: scaleY(-1);
    transition: transform 0.3s ease;
}

.card-bottom img:hover{
    transform: rotate(-90deg) scaleY(-1) scale(1.05);
}

.animate-left{
    animation: shakeLeft 1s infinite;
}

@keyframes shakeLeft {

    0%{
        rotate: 0;
    }
    50%{
        rotate: 12deg
    }
    100%{
        rotate: 0;
    }

}

.right-image{
    transform: scaleX(-1);
}

.animate-right{
    animation: shakeRight 1s infinite;
}

@keyframes shakeRight {

    0%{
        rotate: 0;
    }
    50%{
        rotate: -12deg
    }
    100%{
        rotate: 0;
    }

}